<main>
  <form class="drumbleform" id="editquizform" class="drumblequizform" method="post" action="/edit">
    <section>
      <input type="submit" value="Back" />
      <input type="submit" value="Done" />
    </section>

    <section>
      <label for="quiztime">Time</label>
      <input type="number" id="quiztime" />
    </section>

    <section>
      <label for="isAnonymous">Is Anonymous</label>
      <input type="checkbox" id="isAnonymous" name="IsAnonymous" />
    </section>

    <section>
      <label for="quiztitle">Title</label>
      <input type="text" id="quiztitle" name="title" />
    </section>

    <section>
      <h2>Questions</h2>
      <div class="questioncontainer">

{{{{raw}}}}
      <script id="question-template" type="text/x-handlebars-template">
        <section>
          <label for="questiontitle">Title</label>
          <input type="text" id="questiontitle" name="question[{{id}}]Title" />
          <label for="questiontime">Time</label>
          <input type="number" id="questiontime" name="question[{{id}}]Time" value ="30" />
        </section>

        <section>
          <label for="questioncontent">Question</label>
          <input type="text" id="questioncontent" name="question[{{id}}]Content" />
        </section>

        {{#each answers}}
        <section id="answercontainer">
          <div class="answer">
            <label for="answercontent{{.}}">Answer</label>
            <input type="text" id="answercontent{{.}}" name="question[{{../id}}]Answer{{.}}" />
            <input type="checkbox" name="question[{{../id}}]Answer{{.}}IsValid" />
          </div>
        </section>
        {{/each}}
      </script>
{{{{/raw}}}}

      </div>
      <!-- /questioncontainer -->

    </section>

    <a href="#" id="addQuestion">New Question</a>
    <input type="submit" value="save"/>

  </form>

</main>
<script>
  // logic to add dynamically more questions to quiz
  var source = document.getElementById("question-template").innerHTML;
  var template = Handlebars.compile(source)
  var context = {
    answers: ['A', 'B', 'C', 'D'],
    id: 0
  }
  $('.questioncontainer').append(template(context))

  $('#addQuestion').click(function(e){
    e.preventDefault()
    context.id++
  $('.questioncontainer').append(template(context))
  })

  // before submitting, take quiz form and turn into quiz object
  // regular html forms suck :'( 
  $('form#editquizform').submit(function(event) {
    // this prevents it from being send, for debugging
    //event.preventDefault()

    var $form = $(this);
    var data = $form.serializeArray().reduce(function (previous, current) {
      var multidim = current.name.match(/(.*)\[(\d)\](.*)/)
      if (multidim) {
        var arrayName = multidim[1], arrayIndex = multidim[2], arrayKey = multidim[3]
        if (!previous[arrayName]) previous[arrayName] = []
        if (!previous[arrayName][arrayIndex]) previous[arrayName][arrayIndex] = {}
        previous[arrayName][arrayIndex][arrayKey] = current.value === 'on' ? true : current.value
      }
      else previous[current.name] = current.value === 'on' ? true : current.value
      return previous
    }, {
        IsAnonymous: false
      }
    )
    $('<input />')
      .attr('type', 'hidden')
      .attr('name', 'data')
      .attr('value', JSON.stringify(data))
      .appendTo(this)
    return true
})
</script>