<main id="resultscontainer">
    <h2>The final score is:</h2>
    <div>
        <img src="images/goldmedal.svg" />
        <p>{{place1}}</br>{{score1}}</p>
    </div>
    <div>
        <img src="images/silvermedal.svg" />
        <p>{{place2}}</br>{{score2}}</p>
    </div>
    <div>
        <img src="images/bronzemedal.svg" />
        <p>{{place3}}</br>{{score3}}</p>
    </div>
		<form action="/leave" method="post">
			<input type="submit" value="back">
		</form>
</main>
